body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #e0f7fa;
  color: #004d40;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00695c;
  color: white;
  padding: 1em;
}

main {
  margin-top: 2em;
}

.btn {
  display: block;
  margin: 1em auto;
  padding: 1em;
  background-color: #00acc1;
  color: white;
  text-decoration: none;
  width: 60%;
  max-width: 300px;
  border-radius: 8px;
  font-size: 1.2em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #004d40;
  color: white;
  padding: 0.5em;
}
form {
  background-color: #ffffffbb;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
  text-align: left;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
